<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
<h1>Please Log In.</h1>

<!-- form to login -->
<form action="/login" method="post">
  <label for="user">User</label>
  <input type="text" name="user" id="user">

  <label for="password">Password</label>
  <input type="password" name="password" id="password"></textarea>

  <input type="submit">
</form>
</html>